#logoContainer {
    position: fixed;
    top: 10px;
    left: 10px;
}

.logo-link {
    display: block; /* Make the link fill the container */
    width: 100px; /* Set a fixed width for the logos */
    height: 100px; /* Set a fixed height for the logos */
}

.logo-link img {
    width: 100%; /* Ensure the image fills the link */
    height: 100%; /* Ensure the image fills the link */
    object-fit: contain; /* Keep the aspect ratio of the image */
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b5b5b5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
}

#tos-text {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

#continue-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.radio-container {
    display: flex;
}

.radio-container input[type="radio"] {
    margin-right: 5px;
}
